body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;

}

.text-thin {
	font-weight: 200;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}

.content {
  padding-left: 20px;
  padding-bottom: 25px;
  padding-right:25px;
  background-color: #dddddd;
  margin-bottom:100px;
}

.content-footer {
  padding-left: 20px;
  padding-right:25px;
  background-color: #dddddd;
}

body {
    background-image: url("../images/hexa.png");
    
}

h4{
    margin-bottom:10px;
}

header,footer {
        width:85%;
        height:125px;
        background:#2e5c8a; 
        position:fixed;
        color:#fff;
        text-align:center;
        font-size:50px;
    }
    .pos {
        top:0px;    
    }
    .pos1 {
        bottom:0px; 
        margin-top:100px;
    }
